<h1>Listing messages</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Body</th>
    <th>Room</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.author %></td>
    <td><%= message.body %></td>
    <td><%= message.room.name %></td>
  </tr>
<% end %>
</table>

<br />