<h1>New message</h1>

<form id="new-message" name="message">
  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author" value="<%= author %>" >
  </div>

  <div class="field">
    <label for="body"> body:</label>
    <input type="text" name="body" id="body" value="<%= body %>" >
  </div>

  <div class="field">
    <label for="room"> room:</label>
    <input type="text" name="room" id="room" value="<%= room %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Message" />
  </div>

</form>

<a href="#/index">Back</a>