// Place all the styles related to the Room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
  margin: 20px 0 0 0;
  display: block;
  height: 500px !important;
  overflow-y: scroll;
}